<ng-form name="formSearchUserData">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <ui-select ng-model="$ctrl.userobj" style="width: 100%" on-select="$ctrl.eventOnSelect({args: $item})">
                    <ui-select-match placeholder="Introduce un usuario" title="Debe introducir al menos 4 caracteres del nombre de usuario. O deje este campo en blanco para buscar por todos los usuarios">
                        {{ $select.selected.complete_name }}
                    </ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.userList | filter: $select.search" refresh="$ctrl.refreshUser($select.search)" refresh-delay="0" minimum-input-length="4">
                        <div ng-bind-html="item.username | highlight: $select.search"></div>
                        <small>
             {{ item.complete_name }} - {{ item.email }}
            </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</ng-form>