<div class="page-head">
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li class="active">Eliminar data</li>
    </ol>
</div>
<div class="main-content container-fluid">

        <div style="padding-left: 0">
            <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
                <div class="panel-heading">Eliminar data </div>
                <div class="panel-body" style="padding: 0px 20px">
                    <form name="form_companybank">

                            <div class="form-group" style="margin-bottom: 10px">
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="companyselect">Empresa:</label>
                                        <div class="clearfix"></div>
                                        <ui-select ng-model="vm.form.companyselect" ng-disabled="vm.loading_company == true" style="padding:0; width: 100%">
                                            <ui-select-match placeholder="Seleccione la Empresa">
                                                <span ng-bind="$select.selected.name"></span>
                                            </ui-select-match>
                                            <ui-select-choices refresh-delay="0" repeat="company in ( vm.listCompany | filter: $select.search) track by company.id">
                                                <span ng-bind="company.name"></span><br>
                                                
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                <label for="bankselect">Banco:</label>
                                <div class="clearfix"></div>
                                <ui-select ng-model="vm.form.bankselect" ng-disabled="vm.loading_banks == true || !vm.form.companyselect" style="padding:0; width: 100%">
                                    <ui-select-match placeholder="Seleccione el Banco">
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices refresh-delay="0" repeat="bank in ( vm.listBanks | filter: $select.search) track by bank.id">
                                        <span ng-bind="bank.name"></span><br>
                                        
                                    </ui-select-choices>
                                </ui-select>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label>Fecha:</label>
                                    <input type="text" clear-text="Limpiar" current-text="Hoy" ng-click="vm.calendarOpen(vm.form.cuota2)" ng-disabled="!vm.form.bankselect" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.form.cuota2.date" datepicker-options="vm.dateOption2" is-open="vm.form.cuota2.opened" close-text="Cerrar" placeholder="DD/MM/YYYY" ng-change="vm.changeMinDate(vm.dateOption1, vm.form.cuota2.date)"  class="form-control">
                                </div>
                            </div>
                            </div>
                        <div class="col-md-12 col-xs-12 text-center" style="margin: 30px auto 30px">
                            <button type="button" class="btn btn-space btn-primary btn-big"
                            ng-click="vm.clearCompany()"  ng-disabled="form_companybank.$pristine">
                            <i class="icon mdi mdi-rotate-left"></i> Limpiar
                            </button>
                            <button type="button" ng-click=" vm.deleteTransaction(vm.form)" ng-disabled="!vm.form.companyselect ||  !vm.form.bankselect || !vm.form.cuota2.date" class="btn btn-space btn-primary btn-big"
                                    >
                                <i class="icon mdi mdi-delete"></i> Eliminar
                            </button>
                        </div>
                    </form>
                </div>
                <spinner></spinner>
            </div>
        </div>

</div>