<div class="page-head">
  <h2 class="page-head-title">Auditoría</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Seguridad</a></li>
    <li class="active">Auditoría</li>
  </ol>
</div>
<div class="main-content container-fluid">
  <div class="panel panel-default be-loading" ng-class="{'be-loading-active': vm.loading_users}">
    <div class="panel-heading">Historico</div>
    <div class="panel-body">
      <table class="table table-striped table-hover" id="dt_manager" width="100%">
        <thead>
        <tr>
            <th style="width:30%;">Usuario</th>
            <th style="width:10%;">Modulo</th>
            <th style="width:15%;">Tipo de operación</th>
            <th class="number">Detalles</th>
            <th class="number">Fecha</th>
        </tr>
        </thead>
      </table>
      <spinner></spinner>
    </div>
  </div>
</div>