<div class="page-head">
  <h2 class="page-head-title">Usuarios</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Seguridad</a></li>
    <li class="active">Usuarios</li>
  </ol>
</div>
<div class="main-content container-fluid">
  <!--Responsive table-->
  <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_users}">
    <div class="panel-heading">Listado de usuarios
      <div class="tools">
        <button ng-click="vm.agregateUser()" class="btn btn-lg btn-space btn-primary">
          <i class="icon icon-left mdi mdi-account-add"></i> Nuevo usuario 
        </button>
      </div>
    </div>
    <div class="panel-body">
      <table datatable="ng" class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="width:20%;">Usuario</th>
            <th style="width:17%;">Tipo de usuario</th>
            <th >Status</th>
            <th style="width:10%;">Fecha de registro</th>
            <th style="width: 5%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.listUsers">
            <td class="user-avatar cell-detail user-info" style="cursor: pointer;" ui-sref="app.usersDetails({ 'id': user.id })">
              <img ng-src="{{ user.profile.avatar }}" alt="marc">
                <span>{{ user.profile.full_name }}</span>
                <span class="cell-detail-description">{{ user.email }}</span>
            </td>
            <td>
              <div class="btn-group btn-hspace">
                <button type="button" ng-disabled="vm.loading_roles" data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{ user.role.name }}<span ng-hide="user.role">Seleccione un tipo</span> <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                <ul role="menu" size="2" class="dropdown-menu">
                  <li ng-repeat="role in vm.listRoles">
                    <a href="#" ng-click="vm.changeUserRole( role, user )">{{ role.name }}</a>
                  </li>
                </ul>
              </div>
            </td>    
            <td style=" cursor:pointer;"><div class="switch-button switch-button-xs">
              <input type="checkbox" id="swt1{{ user.id }}"
                ng-checked="user.status"
                ng-click="vm.status(user)" 
                name="{{ user.id }}"><span>
                <label for="swt1{{ user.id }}"></label></span>
            </div></td>     
            <td class="cell-detail">
              <span>{{ user.created_at }}</span>
              <!--<span class="cell-detail-description">8:30</span>-->
            </td>
            <td class="actions">
              <a ui-sref="app.usersDetails({ 'id': user.id })" class="icon" style="margin-right: 10px"><i class="mdi mdi-eye"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <spinner></spinner>
  </div>
</div>

<div ng-include src="'app/modules/security/users/modals/add/adding.html'"></div>