.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.loader {
  position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 999999999;
  background: rgba(255, 255, 255, 0.98);
}

.spinner {
  margin: auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #141414;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1s infinite ease-in-out both;
  animation: sk-bouncedelay 1s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.10s;
  animation-delay: -0.10s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .bounce3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.spinner .bounce4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.spinner .bounce5 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}


@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

span.ng-binding.ng-scope {
    font-size: 13px;
}



.nya-bs-select .dropdown-toggle {
    height: 45px !important;
}

.perm-content {
  border: 2px solid rgba(232, 232, 232, 0.7);
  padding: 8px;
  height: 100px;
  margin-bottom: 10px;
  word-wrap: break-word;
  line-height: 11px;
}

.perm-content > p > small {
  line-height: 11px;
}

table.dataTable{clear:both;margin-top:6px !important;margin-bottom:6px !important;max-width:none !important;border-collapse:separate !important}table.dataTable td,table.dataTable th{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}table.dataTable td.dataTables_empty,table.dataTable th.dataTables_empty{text-align:center}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}div.dataTables_wrapper div.dataTables_length label{font-weight:normal;text-align:left;white-space:nowrap}div.dataTables_wrapper div.dataTables_length select{width:75px;display:inline-block}div.dataTables_wrapper div.dataTables_filter{text-align:right}div.dataTables_wrapper div.dataTables_filter label{font-weight:normal;white-space:nowrap;text-align:left}div.dataTables_wrapper div.dataTables_filter input{margin-left:0.5em;display:inline-block;width:auto}div.dataTables_wrapper div.dataTables_info{padding-top:8px;white-space:nowrap}div.dataTables_wrapper div.dataTables_paginate{margin:0;white-space:nowrap;text-align:right}div.dataTables_wrapper div.dataTables_paginate ul.pagination{margin:2px 0;white-space:nowrap}div.dataTables_wrapper div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:1em 0}table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting{padding-right:30px}table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{outline:none}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer;position:relative}table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{position:absolute;bottom:8px;right:8px;display:block;font-family:'Glyphicons Halflings';opacity:0.5}table.dataTable thead .sorting:after{opacity:0.2;content:"\e150"}table.dataTable thead .sorting_asc:after{content:"\e155"}table.dataTable thead .sorting_desc:after{content:"\e156"}table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{color:#eee}div.dataTables_scrollHead table.dataTable{margin-bottom:0 !important}div.dataTables_scrollBody table{border-top:none;margin-top:0 !important;margin-bottom:0 !important}div.dataTables_scrollBody table thead .sorting:after,div.dataTables_scrollBody table thead .sorting_asc:after,div.dataTables_scrollBody table thead .sorting_desc:after{display:none}div.dataTables_scrollBody table tbody tr:first-child th,div.dataTables_scrollBody table tbody tr:first-child td{border-top:none}div.dataTables_scrollFoot table{margin-top:0 !important;border-top:none}@media screen and (max-width: 767px){div.dataTables_wrapper div.dataTables_length,div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{text-align:center}}table.dataTable.table-condensed>thead>tr>th{padding-right:20px}table.dataTable.table-condensed .sorting:after,table.dataTable.table-condensed .sorting_asc:after,table.dataTable.table-condensed .sorting_desc:after{top:6px;right:6px}table.table-bordered.dataTable th,table.table-bordered.dataTable td{border-left-width:0}table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child{border-right-width:0}table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td{border-bottom-width:0}div.dataTables_scrollHead table.table-bordered{border-bottom-width:0}div.table-responsive>div.dataTables_wrapper>div.row{margin:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child{padding-left:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{padding-right:0}

div.dataTables_wrapper div.dataTables_filter input {
    width: calc(100% - 50px);
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

.panel-heading .tools {
    margin-right: -10px;
}

.uib-day button {
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-weight: 300;
}

.uib-day button:hover {
    background-color: #e1e1e1;
}

.ui-select-multiple.ui-select-bootstrap {
    min-height: 46px;
    padding: 10px 12px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    font-size: 16px;
    min-width: 300px;
    width: auto !important;
    margin-left:-10px
}

.nya-bs-select .dropdown-toggle .filter-option .badge {
    margin-top:7px;
}


.ui-select-bootstrap > .ui-select-match > .btn {
    border-top-color: #dedede;
}

.ui-select-bootstrap > .ui-select-match > .btn:hover {
    border-top-color: #bdc0c7;
}

.nya-bs-select .dropdown-toggle {
    height: 48px !important;
}

.nya-bs-select.sm .dropdown-toggle {
    height: 37px !important;
}

@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } 
}

.dropzone, .dropzone * {
  box-sizing: border-box; 
}

.dropzone .dz-message {
    font-size: 24px !important;
}

.dropzone {
  min-height: 100px !important;
  border: 2px dashed #20bcc1 !important;
  background: white;
  padding: 54px 54px; 
}
 
.dropzone .icon {
    background-color: #e6e6e6;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
    padding: 20px;
    text-align: center;
}

.dropzone .icon span {
    font-size: 60px;
    color: #696767;
}


/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


.list-group-item {
     padding: 10px 15px !important;
}
.list-color-bg {
  
    background-color: #f1f1f1;
}
.out-padding{    
    padding:0px !important;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);
}
.out-padding-top{    
    padding-top:0px !important;
}
.out-margin{    
    margin:0px !important;
    border-radius: 0px 0px 3px 3px !important;
}

.be-user-nav>li.dropdown .dropdown-menu .user-info {
  background-color: #3C4858;
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(0,0,0,1) 3%, rgba(28,28,28,1) 48%, rgba(17,17,17,1) 60%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(44,44,44,1)), color-stop(1%, rgba(43,43,43,1)), color-stop(2%, rgba(89,89,89,1)), color-stop(3%, rgba(0,0,0,1)), color-stop(48%, rgba(28,28,28,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(0,0,0,1) 3%, rgba(28,28,28,1) 48%, rgba(17,17,17,1) 60%, rgba(19,19,19,1) 100%);
  background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(0,0,0,1) 3%, rgba(28,28,28,1) 48%, rgba(17,17,17,1) 60%, rgba(19,19,19,1) 100%);
  background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(0,0,0,1) 3%, rgba(28,28,28,1) 48%, rgba(17,17,17,1) 60%, rgba(19,19,19,1) 100%);
  background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(102,102,102,1) 0%, rgba(44,44,44,1) 0%, rgba(43,43,43,1) 1%, rgba(89,89,89,1) 2%, rgba(0,0,0,1) 3%, rgba(28,28,28,1) 48%, rgba(17,17,17,1) 60%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
  color: #fff;
  overflow: hidden;
  padding: 20px 15px 14px;
  border-radius: 2px 2px 0 0;
  margin-bottom: 7px;
}
.be-top-header .be-user-nav>li.dropdown .dropdown-menu:after {
  left: auto;
  right: 13px;
  border-bottom-color: #3C4858;
}
.be-left-sidebar .sidebar-elements>li.active>a {
  padding-left: 20px;
  font-weight: 500;
  color: #3C4858;
}
.sidebar .sidebar-elements>li.active>a>span {
  color: #3C4858;
}
.be-left-sidebar .sidebar-elements>li ul li.active>a, .be-left-sidebar .sidebar-elements>li.active>a>span {
  color: #3C4858;
}
.btn-primary {
  color: #fff;
  background-color: #9c27b0;
  border-color: #9c27b0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background-color: #9c27b0;
  border-color: #9c27b0;
  cursor: default;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: #9c27b0;
  border-color: #9c27b0;
}
.switch-button input[type=checkbox]:checked+span label {
  float: right;
  border-color: #9c27b0;
}
.body {
  font-family: Roboto,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #f5f1f1;
}
.colored-header-primary .modal-content .modal-header {
  background-color: #9c27b0;
}
.be-radio-icon input[type=radio]:checked+label {
  border-color: #9c27b0;
  color: #9c27b0;
}
.btn-primary.hover, .btn-primary:hover {
  box-shadow: inset 0 -1px 0 #9c27b0;
  background-color: #9c27b0;
  border-color: #9c27b0 #9c27b0 #9c27b0;
}
.btn-primary {
  color: #fff;
  background-color:#9c27b0;
  border-color: #9c27b0;
}
.be-scroll-top {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #fff;
  background-color: rgba(0,0,0,.6);
  padding: 0 14px;
  display: none;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
  border-radius: 4px;
}
.be-top-header {
  background-color: #0e0e0e;
  border: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
.btn-primary.hover, .btn-primary:hover {
    box-shadow: inset 0 -1px 0#9c27b0;
    background-color: #9c27b0;
    border-color:#9c27b0 #9c27b0 #9c27b0;
}

.lds-ripple {
  display: none;
  position: absolute;
  width: 80px;
  height: 80px;
}
.lds-ripple-active div {
  position: absolute;
  border: 4px solid rgb(190, 13, 13);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple-active div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.be-spinner svg {
    -webkit-animation: be-spinner-rotation 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    -o-animation: be-spinner-rotation 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: be-spinner-rotation 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    stroke: #080808;
}
.ps-container {

  touch-action: auto !important;

}
@media (max-width: 767px){
  .be-left-sidebar .left-sidebar-spacer.open {
    height: 20em;
  }
}
.left-sidebar-content {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}
.left-sidebar-spacer.open {
  overflow: auto;
}










