<div class="page-head">
  <h2 class="page-head-title">Rol de usuarios</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Seguridad</a></li>
    <li class="active">Roles</li>
  </ol>
</div>

<div class="main-content container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_roles}">
        <div class="panel-heading">Listado de roles
          <div class="tools" >
            <button ng-click="vm.agregateRole();" class="btn btn-lg btn-space btn-primary">
              <i class="icon icon-left mdi mdi-plus"></i> Nuevo rol de usuario 
            </button>
          </div>
        </div>
        <div class="panel-body">
          <table datatable="ng" class="table table-hover">
            <thead>
              <tr>
                <th style="width:40%;">Nombre</th>
                <th style="width:40%;">Descripción</th>
                <th style="width:20%;">Slug</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="role in vm.listRoles" ng-click="vm.getRolePermission(role.slug)" style="cursor: pointer;">
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td>{{ role.slug }}</td>
                <td class="actions"><a href="#" ng-click="vm.updateRole(role)" class="icon"><i class="mdi mdi-edit"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <spinner></spinner>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_permission}">
        <div class="panel-heading ">Asignación de permisos</div>
        <div class="panel-body">
          <br>
          <div class="col-xs-4 col-sm-3" ng-repeat="perm in vm.listPermission">
            <div class="perm-content">
              <div class="switch-button switch-button-xs">
                <input type="checkbox" ng-checked="perm.checked" ng-click="vm.updatePermissionRole(perm.slug)" name="{{ perm.slug }}" id="swt1{{ perm.slug }}"><span>
                  <label for="swt1{{ perm.slug }}"></label></span>
              </div>
              <p><small>{{ perm.name }}</small></p>
            </div>
          </div>
        </div>
        <spinner></spinner>
      </div>
    </div>
  </div>
</div>

<div ng-include src="'app/modules/security/roles/modals/add/adding.html'"></div>