<div class="page-head">
    <h2 class="page-head-title">Reportes del Día</h2>
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li>Reportes</li>
        <li class="active">Reportes del Día </li>
    </ol>
</div>
<div class="main-content container-fluid">

        
        <div class="panel panel-default be-loading" ng-class="{'be-loading-active': vm.loading}">
            <div class="panel-heading">
                    <p style="    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;"><b style="    color: #696763;
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 5px;">Total Monto:</b> {{ vm.listCDN }}</p>
                <div class="tools">
                    <button class="btn btn-space btn-primary" ng-click="vm.print('pdf')" style="padding: 2px 15px !important;" ng-disabled="!vm.listCDN">
                        <i class="icon icon-left mdi mdi-print" style="color: #fff !important"></i> Imprimir
                    </button>
                    
                </div>
            </div>
            <div class="panel-body">
                <table width="100%" dt-options="vm.dtOptions" class="table table-hover" id="table">
                    <thead>
                        <tr>
                            <th style="width:5%;">ID</th>
                            <th style="width:5%;">Referencia</th>
                            <th style="width:5%;">Analista</th>
                            <th style="width:5%;">Banco</th>
                            <th style="width:5%;">Fecha</th>
                            <th style="width:5%;">Monto</th>
                            <th  style=" width:5%;text-align: center;">Descripción</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <spinner></spinner>
        </div>
    </div>
    
</div>