<div class="page-head">
  <h2 class="page-head-title">Ciudades</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Localización</a></li>
    <li class="active">Ciudades</li>
  </ol>
</div>
<div class="main-content container-fluid">
  <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_cities}">
    <div class="panel-heading">Ciudades
      <div class="tools"><span class="icon mdi mdi-download"></span><span class="icon mdi mdi-more-vert"></span></div>
    </div>
    <div class="panel-body">
      <table datatable="ng" class="table table-striped table-hover table-fw-widget" id="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="city in vm.listCities">
            <td>{{ city.name }}</td>
            <td class="actions">
              <a href="#" ng-click="vm.updatePermission(permission)" class="icon"><i class="mdi mdi-edit"></i></a>
              <a href="#" ng-click="vm.updatePermission(permission)" class="icon" style="margin-left: 10px"><i class="mdi mdi-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <spinner></spinner>
  </div>
</div>