<div class="page-head">
    <h2 class="page-head-title">Reportes por filtros</h2>
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li>Reportes</li>
        <li class="active">Reportes por filtros</li>
    </ol>
</div>
<div class="main-content container-fluid">
    <div class="col-sm-12" style="padding-left: 0">
        <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
            <div class="panel-heading"></div>
            <div class="panel-body" style="padding: 0px 20px">
                <form name="form_report">
                    <div class="form-group" style="margin-bottom: 10px">
                        <div class="row">

                            <div class="col-sm-6">
                                <label>Analista</label>
                                <div class="clearfix"></div>

                                
                          <ui-select ng-model="vm.form.analysts" ng-disabled=" vm.printfB === true" ng-click="vm.analyst_select = true" style="padding:0; width: 100%">
                            <ui-select-match placeholder="Seleccione el Analista">
                                <span ng-bind="$select.selected.profile.name"></span>
                            </ui-select-match>
                            <ui-select-choices refresh-delay="0" repeat="person in ( vm.listanalyst | filter: $select.search) track by person.profile.full_name">
                                <span ng-bind="person.profile.name"></span><br>
                                
                            </ui-select-choices>
                        </ui-select>
                                
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label>Desde</label>
                                    <input type="text" clear-text="Limpiar" current-text="Hoy" ng-click="vm.calendarOpen(vm.form.cuota2)" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.form.cuota2.date" datepicker-options="vm.dateOption2" is-open="vm.form.cuota2.opened" close-text="Cerrar" placeholder="DD/MM/YYYY" ng-change="vm.changeMinDate(vm.dateOption1, vm.form.cuota2.date)"  class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label>Hasta</label>
                                    <input type="text"
                                           uib-datepicker-popup="dd/MM/yyyy"
                                           datepicker-options="vm.dateOption1"
                                           is-open="vm.form.cuota1.opened"
                                           clear-text="Limpiar"
                                           current-text="Hoy"
                                           close-text="Cerrar"
                                           ng-model="vm.form.cuota1.date"
                                           ng-click="vm.calendarOpen(vm.form.cuota1)",
                                           ng-change="vm.changeMinDate(vm.dateOption2, vm.form.cuota1.date)"
                                           required placeholder="DD/MM/YYYY" class="form-control"ng-disabled="!vm.form.cuota2.date">
                                          
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 text-center" style="margin: 30px auto 30px">
                                <button type="button" class="btn btn-space btn-primary btn-big"
                                ng-click="vm.clearInputs(form_report)"  ng-disabled="form_report.$pristine">
                          <i class="icon mdi mdi-rotate-left"></i> Limpiar
                        </button>
                        <button type="button" ng-click="vm.searchBilled(vm.form)" ng-disabled="form_report.$pristine" class="btn btn-space btn-primary btn-big"
                        >
                          <i class="icon mdi mdi-search"></i> Buscar
                        </button>
                        </div>
                      
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="padding-left: 0">
        <div class="panel panel-default be-loading" ng-class="{'be-loading-active': vm.loading}">
                <div class="panel-heading">
                        <p style="    display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;"><b style="    color: #696763;
                        font-family: 'Roboto', sans-serif;
                        margin-bottom: 5px;">Total Monto:</b> {{ vm.listCDN }}</p>
                    <div class="tools">
                        <button class="btn btn-space btn-primary" ng-click="vm.print('pdf')" style="padding: 2px 15px !important;" ng-disabled="!vm.listCDN">
                            <i class="icon icon-left mdi mdi-print" style="color: #fff !important"></i> Imprimir
                        </button>
                        
                    </div>
                </div>
                <div class="panel-body">
                    <table width="100%" dt-options="vm.dtOptions" class="table table-hover" id="table">
                        <thead>
                            <tr>
                                <th style="width:5%;">ID</th>
                                <th style="width:5%;">Referencia</th>
                                <th style="width:5%;">Analista</th>
                                <th style="width:5%;">Banco</th>
                                <th style="width:5%;">Fecha</th>
                                <th style="width:5%;">Monto</th>
                                <th  style=" width:5%;text-align: center;">Descripción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <spinner></spinner>
            </div>
        </div>
        
        </div>

</div>