<div class="page-head">
    <h2 class="page-head-title">Listado de pagos verificados</h2>
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li class="active">Listado de pagos verificados</li>
    </ol>
</div>
<div class="main-content container-fluid">
    <div class="panel panel-default be-loading" ng-class="{'be-loading-active': vm.loading_users}">
        <div class="panel-heading">Listado</div>
        <div class="panel-body">
          <table class="table table-striped table-hover" id="dt_manager" width="100%">
            <thead>
            <tr>
                <th style="width:15%;">Analista</th>
                <th style="width:10%;">Referencia</th>
                <th style="width:10%;">Banco</th>
                <th class="number">Fecha del voucher</th>
                <th class="number">Monto</th>
                <th class="number">Fecha realizado</th>
                <th class="number">Descripción</th>
            </tr>
            </thead>
          </table>
          <spinner></spinner>
        </div>
      </div>
</div>