<div class="page-head">
  <h2 class="page-head-title">Escritorio</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a></li>
    <li class="active">Escritorio</li>
  </ol>
</div>
<div class="main-content container-fluid">
  <h3 class="text-center">¡BIENVENIDO!</h3>
</div>