<script type="text/ng-template" id="finddescription">
  <div id="modal_form" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
    <div class="modal-dialog custom-width">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
          <h3 class="modal-title">Descripción</h3>
        </div>
        <div class="modal-body">
          <form name="modal_form">
            
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group" style="margin-bottom: 10px">
                  <div><span style="color:red;">La verificación del pago ha sido exitosa, puede proceder a escribir la descripción.</span></div><br>
        
                  <label>Descripción</label>
                  <div class="clearfix"></div>
                   <input type="text"  ng-model="vm.form.description" placeholder="Ingresa la descripción" class="form-control">
                </div>
              </div>
            
        
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="vm.description()" class="btn btn-primary md-close">Incluir</button>
          <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</script>
