<div class="left-sidebar-wrapper">
  <a href="#" class="left-sidebar-toggle">Menu</a>
  <div class="left-sidebar-spacer">
    <div class="left-sidebar-scroll">
      <div class="left-sidebar-content">
        <ul class="sidebar-elements">
          <li class="divider">Menu</li>
              <li ui-sref-active="active">
                <a ui-sref="app.home"><i class="icon mdi mdi-home"></i><span>Inicio</span></a>
              </li>
            <li ui-sref-active="active">
                <a ui-sref="app.profile" permission permission-only="'profile'"><i class="icon mdi mdi-folder-person"></i><span>Perfil</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.profile" permission permission-only="'superadmin'"><i class="icon mdi mdi-folder-person"></i><span>Perfil</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.password" permission permission-only="'superadmin'"><i class="icon mdi mdi-lock"></i><span>Cambiar Contraseña</span></a>
            </li>
              <li ui-sref-active="active">
                <a ui-sref="app.importing-data-bank" permission permission-only="'importar'"><i class="icon mdi mdi-cloud-upload"></i><span>Importar Data Banco</span></a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="app.register-pay"  permission permission-only="'registro'"><i class="icon mdi mdi-balance"></i><span>Verificar Pagos</span></a>
              </li>
            <li ui-sref-active="active">
                <a ui-sref="app.preload"  permission permission-only="'cargas'"><i class="icon mdi mdi-google-drive"></i><span>Carga Previa</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.preload" permission permission-only="'carga'"><i class="icon mdi mdi-google-drive"></i><span>Carga Previa</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.search" permission permission-only="'cargas'"><i class="icon mdi mdi-search"></i><span>Busqueda Avanzada</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.search" permission permission-only="'carga'"><i class="icon mdi mdi-search"></i><span>Busqueda Avanzada</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.searchadmin" permission permission-only="'superadmin'"><i class="icon mdi mdi-search"></i><span>Busqueda Avanzada</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.listPay" permission permission-only="'listas'"><i class="icon mdi mdi-assignment"></i><span>Listado de pagos verficados</span></a>
            </li>
             <li class="parent" permission permission-only="'reporte'">
                 <a href="#"><i class="icon mdi mdi-globe"></i><span>Reportes</span></a>
                 <ul class="sub-menu">
                     <li ui-sref-active="active">
                         <a ui-sref="app.bc" permission permission-only="'reporte.dia'">Del Día</a>
                     </li>
                     <li ui-sref-active="active">
                         <a ui-sref="app.dg" permission permission-only="'reporte.filtro'">Filtros</a>
                     </li>
                 </ul>
             </li>
            <li class="parent" permission permission-only="'seguridad'"><a href="#"><i class="icon mdi mdi-lock-outline"></i><span>Seguridad</span></a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.consulting" permission permission-only="'seguridad.auditoria'">Auditoría</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.users"  permission permission-only="'seguridad.users'">Usuarios</a></li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.admin" permission permission-only="'superadmin'"><i class="icon mdi mdi-assignment"></i><span>Empresa</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.association" permission permission-only="'superadmin'"><i class="icon mdi mdi-thumb-up-down"></i><span>Asociar Banco a Empresa</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.dt" permission permission-only="'superadmin'"><i class="icon mdi mdi-delete"></i><span>Eliminar data</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tc"  permission permission-only="'eliminar'"><i class="icon mdi mdi-delete"></i><span>Eliminar data</span></a>
            </li>
            <li ui-sref-active="active">
                <a href="#" ng-click="vm.logout()"><span class="icon mdi mdi-power"></span> Cerrar Sesión</a>
            </li>
        </ul>

            </div>
        </div>
    </div>

</div>