<div class="container-fluid">
  <div class="navbar-header"><a rel="icon" type="image/png" href="assets/img/verificapagos7.png" class="navbar-brand"></a></div>
  <div class="be-right-navbar">
    <ul class="nav navbar-nav navbar-right be-user-nav">
      <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><img><span class="user-name"></span></a>

      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right be-icons-nav">

    </ul>
  </div>
</div>