 
<nav class="navbar navbar-default navbar-fixed-top be-top-header" ng-if="vm.isAuth() === true">
  <ng-include src="'app/modules/template/nav-header.html'"></ng-include>
</nav>

<div class="be-left-sidebar" ng-show="vm.isAuth() === true">
  <ng-include src="'app/modules/template/left-sidebar.html'" ng-if="vm.isAuth() === true"></ng-include>
</div>

<div class="be-content">
  <div ui-view></div>
</div><!-- /.container -->


