<div class="page-head">
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li class="active">Cambiar contraseña</li>
    </ol>
</div>
<div class="main-content container-fluid">
    <div style="padding-left: 0">
        <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
            <div class="panel-heading">Cambiar contraseña</div>
            <div class="panel-body" style="padding: 0px 20px">
                <form name="form_password" >
                    <div class="form-group" style="margin-bottom: 10px">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Nombre de la empresa</label>
                                <input type="text" ng-model="vm.form.company.name" ng-disabled="!vm.form.user.profile.ci" required placeholder="TST" class="form-control input-sm">
                            </div>
                              <div class="col-xs-6">
                                <label>Nombre del usuario</label>
                                <input type="text" ng-model="vm.form.profile.full_name"  ng-disabled="!vm.form.user.profile.ci" required placeholder="Fernando" class="form-control input-sm">
                              </div>
                              <div class="col-xs-6">
                                <label>Rol del usuario</label>
                                <input type="text"ng-model="vm.form.role.name" ng-disabled="!vm.form.user.profile.ci" required placeholder="*******" class="form-control">
                              </div>
                
                              <div class="col-xs-6">
                                <label>Contraseña</label>
                                <input type="text"ng-model="vm.form.passwordupdate" ng-disabled="vm.selected === true" required placeholder="*******" class="form-control">
                              </div>
                           
                    <div class="col-xs-12 text-center" style="margin: 30px auto 30px">
                        <button type="button" class="btn btn-space btn-primary btn-big"
                        ng-click="vm.clearUser()" ng-disabled="vm.option=== true">
                        <i class="icon mdi mdi-rotate-left"></i> Limpiar
                        </button>
                        <button type="button" ng-click="vm.save(vm.form)"  ng-disabled="form_password.$pristine ||  vm.option=== true" class="btn btn-space btn-primary btn-big"
                                >
                            <i class="icon mdi mdi-archive"></i> Incluir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_company}" style="    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);">

        <div class="panel-heading">
            

        </div>
        <div class="panel-body">
            <table datatable="ng" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th style="width:5%;">codigo</th>
                    <th style="width:5%;">Nombre de la empresa</th>
                    <th style="width:5%;">Nombre del usuario</th>
                    <th style="width:5%;">Rol del usuario</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="exc in  vm.listCompany">


                    <td ng-click="vm.selectCompany(exc)"style=" cursor:pointer; text-align: center;">
                        {{ exc.id }}
                    </td>
                    <td ng-click="vm.selectCompany(exc)"style=" cursor:pointer; text-align: center;">
                        {{ exc.company.name  }}
                    </td>
                    <td ng-click="vm.selectCompany(exc)"style=" cursor:pointer; text-align: center;">
                        {{ exc.profile.full_name  }}
                    </td>
                    <td ng-click="vm.selectCompany(exc)"style=" cursor:pointer; text-align: center;">
                        {{ exc.role.name  }}
                    </td>

                </tr>

                </tbody>

            </table>

        </div>
        <spinner></spinner>
    </div>


</div>