<ng-form name="formSearchDataReg">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-group">

                <ui-select ng-model="$ctrl.datareg" style="width: 100%" on-select="$ctrl.eventOnSelect({args: $item})">
                    <ui-select-match placeholder="Introduce una referencia" title="Debe introducir al menos 4 para buscar la referencia">
                        {{ $select.selected.reference }}
                    </ui-select-match>
                    <ui-select-choices repeat="item in $ctrl.dataregList | filter: $select.search" refresh="$ctrl.refresRef($select.search)" refresh-delay="0" minimum-input-length="4">
                        <div ng-bind-html="item.reference | highlight: $select.search">

                        </div>
                        <small>
              Banco: {{ item.bank }} - Monto: {{ item.amount | number:2 }} Fecha: {{ item.transaction_date }}
            </small>
                    </ui-select-choices>
                </ui-select>

                <span class="input-group-btn">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
            </div>
        </div>

    </div>
</ng-form>