<script type="text/ng-template" id="addingPermissionModal">
  <div id="modal_form" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
    <div class="modal-dialog custom-width">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
          <h3 class="modal-title">
            <span ng-hide="vm.updating">Añadir</span>
            <span ng-show="vm.updating">Modificar</span> 
            permiso
          </h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" ng-model="vm.form.name" ng-keyup="vm.getSlug()" class="form-control">
          </div>
          <div class="form-group">
            <label>Slug </label>
            <input type="text" ng-model="vm.form.slug" class="form-control">
          </div>
          <div class="form-group">
            <label>Descripción del permiso</label>
            <textarea class="form-control" ng-model="vm.form.description" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
          <button type="button" ng-click="vm.save()" ng-disabled="form_modal.$invalid || form_modal.$pristine" class="btn btn-primary md-close">
            <span ng-hide="vm.updating">Añadir</span>
            <span ng-show="vm.updating">Modificar</span>
            permiso
          </button>
        </div>
      </div>
    </div>
  </div>
</script>
