<div class="page-head">
  <h2 class="page-head-title">Bancos</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a></li>
    <li class="active">Bancos</li>
  </ol>
</div>
<div class="main-content container-fluid">
  <div class="col-sm-6" style="padding-left: 0">
    <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
      <div class="panel-heading">Datos de los Bancos</div>
      <div class="panel-body" style="padding: 0px 20px">
        <form name="form_bank">
          <div class="form-group" style="margin-bottom: 10px">
            <label>Nombre</label>
            <input type="text" class="form-control input-sm" required
                  placeholder="Nombre del banco"
                  ng-model="vm.form.name">
          </div>
          <div class="form-group" style="margin-bottom: 10px">
            <label>Número de cuenta</label>
            <input type="text" class="form-control input-sm" required
                  placeholder="Número de cuenta del banco"
                  ng-model="vm.form.account">
          </div>
          <div class="col-xs-12 text-center" style="margin: 30px auto 30px">
            <button type="button" class="btn btn-space btn-primary btn-big" 
                    ng-disabled="form_bank.$pristine && vm.selectedBank === false"
                    ng-click="vm.clearInputs(form_bank)">
              <i class="icon mdi mdi-rotate-left"></i> Limpiar 
            </button>
            <button type="button" class="btn btn-space btn-primary btn-big" 
                    ng-disabled="form_bank.$pristine || vm.selectedBank || !form_bank.$valid"
                    ng-click="vm.save()">
              <i class="icon mdi mdi-archive"></i> Incluir
            </button>
            <button type="button" class="btn btn-space btn-primary btn-big"
                    ng-disabled="form_bank.$pristine || vm.selectedBank === false"
                    ng-click="vm.save()">
              <i class="icon mdi mdi-edit"></i> Modificar 
            </button>
            <button type="button" class="btn btn-space btn-primary btn-big"
                    ng-disabled="vm.selectedBank === false"
                    ng-click="vm.delete()">
              <i class="icon mdi mdi-delete"></i> Eliminar 
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_campaign}">
      <div class="panel-heading">Listado de Bancos
        <div class="tools"><span class="icon mdi mdi-download"></span><span class="icon mdi mdi-more-vert"></span></div>
      </div>
      <div class="panel-body">
        <table datatable="ng" class="table table-hover" id="table">
          <thead>
            <tr >
              <th style="width:10%;">Codigo</th>
              <th style="width:40%;">Nombre del Banco</th>
              <th style="width:50%;"># Cuenta</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bank in vm.listBanks" ng-click="vm.selectBank( bank )">
              <td style="cursor: pointer;text-align: center">
                  <strong>{{ bank.id }}</strong>
              </td>
              <td>{{ bank.name }}</td>
              <td>{{ bank.account }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <spinner></spinner>
    </div>
  </div>
</div>