<div class="row">
  <div class="col-md-12 col-xs-12 col-lg-12">
    <div class="form-group">
      <label class="control-label">{{ $ctrl.namedatepicker }}</label>
      <div class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{ $ctrl.format }}" 
          ng-model="$ctrl.datepickobj" is-open="$ctrl.opened" close-text="Close" readonly/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.open()">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
        </span>
      </div>
    </div>
  </div>
</div>