<div class="page-head">
  <h2 class="page-head-title">Estados</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Localización</a></li>
    <li class="active">Estados</li>
  </ol>
</div>
<div class="main-content container-fluid">
  <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_states}">
    <div class="panel-heading">Estados
      <div class="tools"><span class="icon mdi mdi-download"></span><span class="icon mdi mdi-more-vert"></span></div>
    </div>
    <div class="panel-body">
      <table datatable="ng" class="table table-hover" id="table">
        <thead>
          <tr >
            <th style="width:70%;">Nombre</th>
            <th style="width:20%;">ISO 3166-2</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="state in vm.listStates">
            <td>{{ state.name }}</td>
            <td>{{ state.iso_3166_2 }}</td>
            <td class="actions">
              <a href="#" ng-click="vm.updatePermission(permission)" class="icon"><i class="mdi mdi-edit"></i></a>
              <a href="#" ng-click="vm.updatePermission(permission)" class="icon" style="margin-left: 10px"><i class="mdi mdi-delete"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <spinner></spinner>
  </div>
</div>