<div class="page-head">
    <h2 class="page-head-title">Verificar Pagos</h2>
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li class="active">Verificar Pagos</li>
    </ol>
</div>
<div class="main-content container-fluid">
    <div style="padding-left: 0">
        <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
            <div class="panel-heading"></div>
            <div class="panel-body" style="padding: 0px 20px">
                <form name="form_register_pay">
                    <h4>Verificar pagos</h4>
                    <div>
                        <label>Banco</label>
                        <div class="clearfix"></div>
                        <ol class="nya-bs-select" size="2" title="No seleccionado" style="padding:0; width: 100%" ng-model="vm.form.tipo">
                            <li nya-bs-option="type in vm.typeNotes">
                                <a>
                  {{ type.nombre }}
                </a>
                            </li>
                        </ol>
                    </div>
                    
                    <div ng-if="vm.form.tipo.id === 1">
                        <div>
                            <label>Tipo</label>
                            <div class="clearfix"></div>
                            <ol class="nya-bs-select" size="2" title="No seleccionado" style="padding:0; width: 100%" ng-model="vm.form.tipos">
                                <li nya-bs-option="movie in vm.types">
                                    <a>
                    {{ movie.nombre }}
                  </a>
                                </li>
                            </ol>
                        </div>
                        <div ng-if="vm.form.tipos.id === 1">
                            <div class="col-xs-12">
                                <label>Cedula o rif</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" ng-model="vm.form.ci" required placeholder="V9992900 o J40413680">
                                    <span class="input-group-btn">
                        <button  ng-click="vm.searchCI(vm.form.ci)" class="btn btn-success" type="button">Obtener</button>
                      </span>

                                </div>

                                <span style="color:red;">Ejemplo: V9992900 </span><br/>
                                <span style="color:red;">Ejemplo: J40413680 </span><br/>
                            </div>
                            <div class="col-xs-6">
                                <label>Referencia</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" ng-model="vm.form.referencia" ng-disabled="!vm.form.voucher.bank" placeholder="Referencia de pago">

                                    <span class="input-group-btn" ng-if="vm.form.tipo.id === 2">
                          <button ng-click="vm.getReference(vm.form.referencia)"  class="btn btn-success" type="button">Obtener</button>
                        </span>

                                </div>
                            </div>

                            <div class="col-xs-6">
                                <label>Banco</label>
                                <div class="clearfix"></div>
                                <input type="text" ng-model="vm.form.bank" ng-disabled="!vm.form.voucher.bank" placeholder="Entidad bancaria" class="form-control input-sm">
                            </div>

                            <div class="col-xs-6">
                                <label>Fecha Voucher</label>
                                <input type="text" ng-model="vm.form.date" ng-disabled="!vm.form.voucher.bank" placeholder="DD/MM/YYYY" class="form-control input-sm">
                            </div>
                            <div class="col-xs-6">
                                <label>Monto</label>
                                <input type="text" ng-model="vm.form.amount" ng-disabled="!vm.form.voucher.bank" placeholder="Cantidad a abonar" class="form-control input-sm">
                            </div>
                        </div>
                        <div ng-if="vm.form.tipos.id === 2">
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label>Referencia</label>
                                    <div class="clearfix"></div>
                                    <input type="text" min="1" ng-model="vm.form.referencias" placeholder="Ingresa referencia" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label>Fecha voucher</label>
                                    <div class="clearfix"></div>
                                    <input type="text" uib-datepicker-popup="dd/MM/yyyy" datepicker-options="vm.dateOption1" is-open="vm.today.opened" clear-text="Limpiar" current-text="Hoy" close-text="Cerrar" ng-model="vm.form.transaction_date" ng-click="vm.calendarOpen(vm.form.transaction_date)"
                                        , required placeholder="DD/MM/YYYY" class="form-control">
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label>Monto</label>
                                    <div class="clearfix"></div>
                                    <input type="text" min="0" ng-model="vm.form.amounts" placeholder="Ingresa monto" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>



                    <div ng-if="vm.form.tipo.id === 2">


                        <div class="col-xs-12">
                            <label>Referencia</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" ng-model="vm.form.referencia" ng-disabled="!vm.form.tipo.id" placeholder="Referencia de pago">

                                <span class="input-group-btn" ng-if="vm.form.tipo.id === 2">
                        <button ng-click="vm.getReference(vm.form.referencia)"  class="btn btn-success" type="button">Obtener</button>
                      </span>

                            </div>
                        </div>

                        <div class="col-xs-12">
                            <label>Banco</label>
                            <div class="clearfix"></div>
                            <input type="text" ng-model="vm.form.bank" ng-disabled="!vm.form.voucher.bank" placeholder="Entidad bancaria" class="form-control input-sm">
                        </div>

                        <div class="col-xs-6">
                            <label>Fecha Voucher</label>
                            <input type="text" ng-model="vm.form.date" ng-disabled="!vm.form.voucher.bank" placeholder="DD/MM/YYYY" class="form-control input-sm">
                        </div>
                        <div class="col-xs-6">
                            <label>Monto</label>
                            <input type="text" ng-model="vm.form.amount" ng-disabled="!vm.form.voucher.bank" placeholder="Cantidad a abonar" class="form-control input-sm">
                        </div>


                    </div>

                    <div class="col-xs-12 text-center" style="margin: 30px auto 30px">
                        <button type="button" class="btn btn-space btn-primary btn-big" ng-disabled="form_register_pay.$pristine && vm.selectedInvoice === false" ng-click="vm.clearInputs(form_register_pay)">
              <i class="icon mdi mdi-rotate-left"></i> Limpiar
            </button>
                        <button ng-if="vm.form.tipos.id === 2" ng-disabled="!vm.form.amounts" type="" class="btn btn-space btn-primary btn-big" ng-click="vm.searchVoucher()">
              <i class="icon mdi mdi-archive"></i>Verificar
            </button>
                        <button ng-if="vm.form.tipos.id !== 2" ng-click="vm.save()" class="btn btn-space btn-primary btn-big" ng-disabled="form_register_pay.$pristine || !form_register_pay.$valid ">
              <i class="icon mdi mdi-archive"></i>Verificar
            </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<div ng-include src="'app/modules/register-pay/pay/find/find.html'"></div>
<div ng-include src="'app/modules/register-pay/pay/description/description.html'"></div>
<div ng-include src="'app/modules/register-pay/pay/DNI/DNI.html'"></div>