<div class="page-head">
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li class="active">Perfil</li>
    </ol>
</div>
<div class="main-content container-fluid">
    <div style="padding-left: 0">
        <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
            <div class="panel-heading">Datos </div>
            <div class="panel-body" style="padding: 0px 20px">
                <form name="form_manager" ng-submit="vm.save()">
                    <div class="form-group" style="margin-bottom: 10px">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Nombres</label>
                                <input type="text" ng-model="vm.form.profile.name" required placeholder="Camilo" class="form-control input-sm">
                            </div>
                            <div class="col-xs-6">
                                <label>Apellidos</label>
                                <input type="text" ng-model="vm.form.profile.lastname" required placeholder="Contrera" class="form-control input-sm">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Cedula</label>
                                <input type="text" ng-model="vm.form.profile.ci" required placeholder="0000000" class="form-control input-sm">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px">
                        <label>Sexo</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="be-radio-icon inline">
                                    <input type="radio" value="1" name="rad1" id="rad1"
                                           ng-model="vm.form.profile.gender"
                                           ng-checked="vm.form.profile.gender === 1">
                                    <label for="rad1"><span class="mdi mdi-female"></span></label>
                                </div>
                                <div class="be-radio-icon inline">
                                    <input type="radio" value="0" name="rad1" id="rad2"
                                           ng-model="vm.form.profile.gender"
                                           ng-checked="vm.form.profile.gender === 0">
                                    <label for="rad2"><span class="mdi mdi-male-alt"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px">
                        <label>Correo electronico</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class=" icon mdi mdi-email"></i>  </span>
                            <input type="email" required placeholder="correo@gmail.com" class="form-control input-sm"
                                   ng-model="vm.form.email">
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 10px">
                        <label>Contraseña</label>
                        <input type="password" ng-model="vm.form.passwords"  placeholder="*******" class="form-control input-sm">
                    </div>
                    <div class="col-xs-12 text-center" style="margin: 30px auto 30px">

                        <button type="submit" class="btn btn-space btn-primary btn-big"
                                ng-disabled="form_manager.$pristine || vm.selectedManager">
                            <i class="icon mdi mdi-archive"></i> Incluir
                        </button>
                    </div>
                </form>
            </div>
            <spinner></spinner>
        </div>
    </div>





</div>