<div class="page-head">
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li class="active">Asociar banco a empresa</li>
    </ol>
</div>
<div class="main-content container-fluid">
    <div class="col-sm-6">
        <div style="padding-left: 0">
            <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
                <div class="panel-heading">Asociar banco a empresa </div>
                <div class="panel-body" style="padding: 0px 20px">
                    <form name="form_companybank">
                        <div class="form-group" style="margin-bottom: 10px">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label for="companyselect">Empresa:</label>
                                    <div class="clearfix"></div>
                                    <ui-select ng-model="vm.form.companyselect" ng-disabled="vm.loading_company == true" style="padding:0; width: 100%">
                                        <ui-select-match placeholder="Seleccione la Empresa">
                                            <span ng-bind="$select.selected.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices refresh-delay="0" repeat="company in ( vm.listCompany | filter: $select.search) track by company.id">
                                            <span ng-bind="company.name"></span><br>
                                            
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                <label for="bankselect">Banco:</label>
                                <div class="clearfix"></div>
                                <ui-select ng-model="vm.form.bankselect" ng-disabled="vm.loading_banks == true" style="padding:0; width: 100%">
                                    <ui-select-match placeholder="Seleccione el Banco">
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices refresh-delay="0" repeat="bank in ( vm.listBanks | filter: $select.search) track by bank.id">
                                        <span ng-bind="bank.name"></span><br>
                                        
                                    </ui-select-choices>
                                </ui-select>
                                </div>
                                
                            </div>
                            
                            </div>
                        <div class="col-xs-12 text-center" style="margin: 30px auto 30px">
                            <button type="button" class="btn btn-space btn-primary btn-big"
                            ng-click="vm.clearCompany()"  ng-disabled="form_companybank.$pristine">
                            <i class="icon mdi mdi-rotate-left"></i> Limpiar
                            </button>
                            <button  class="btn btn-space btn-primary btn-big"
                               ng-click="vm.associationSelect(vm.form, vm.id)" ng-disabled="!vm.selected === false">
                            <i class="icon mdi mdi-edit"></i> Modificar 
                            </button>
                            <button type="button" ng-click="vm.association(vm.form)" ng-disabled="!vm.form.companyselect ||  !vm.form.bankselect || !vm.selected === true" class="btn btn-space btn-primary btn-big"
                                    >
                                <i class="icon mdi mdi-archive"></i> Incluir
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-6">
            <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_companies}" style="    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);">

                    <div class="panel-heading">
                        
            
                    </div>
                    <div class="panel-body">
                        <table datatable="ng" class="table table-striped table-hover">
                            <thead>
                            <tr>
                              
                                <th style="width:5%;">Nombre de la empresa</th>
                                <th style="width:5%;">Nombre del banco</th>
                                <th  style="width:5%;">Activadas</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="exc in  vm.listCompanies | orderBy:'companies.name' ">
            
            
                                <td  ng-click="vm.selectAssociation( exc)" style=" cursor:pointer; text-align: center;" >
                                    {{ exc.companies.name }}
                                </td>
                                <td  ng-click="vm.selectAssociation( exc)" style=" cursor:pointer; text-align: center;">
                                    {{ exc.banks.name  }}
                                </td>
                                
                                <td style=" cursor:pointer;"><div class="switch-button switch-button-xs">
                                    <input type="checkbox" id="swt1{{ exc.id }}"
                                      ng-checked="exc.status"
                                      ng-click="vm.statusBank(exc)" 
                                      name="{{ exc.id }}"><span>
                                      <label for="swt1{{ exc.id }}"></label></span>
                                  </div></td>
                            </tr>
            
                            </tbody>
            
                        </table>
            
                    </div>
                    <spinner></spinner>
                </div>

    </div>
</div>