<div class="page-head">
  <h2 class="page-head-title">Permisos de usuarios</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Seguridad</a></li>
    <li class="active">Permisos</li>
  </ol>
</div>
<div class="main-content container-fluid">
  <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_permission}">
    <div class="panel-heading">Listado de permisos
      <div class="tools">
        <button ng-click="vm.agregatePermission()" class="btn btn-lg btn-space btn-primary">
          <i class="icon icon-left mdi mdi-plus"></i> Nuevo permiso 
        </button>
      </div>
    </div>
    <div class="panel-body">
      <table datatable="ng" class="table table-hover">
        <thead>
          <tr >
            <th style="width:40%;">Nombre</th>
            <th style="width:35%;">Descripción</th>
            <th style="width:20%;">Slug</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="permission in vm.listPermission">
            <td>{{ permission.name }}</td>
            <td>{{ permission.description }}</td>
            <td>{{ permission.slug }}</td>
            <td class="actions">
              <a href="#" ng-click="vm.updatePermission(permission)" class="icon"><i class="mdi mdi-edit"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <spinner></spinner>
  </div>
</div>

<div ng-include src="'app/modules/security/permissions/modals/add/adding.html'"></div>