<div class="page-head">
  <h2 class="page-head-title">Importar Data Banco</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a>
    </li>
    <li class="active">Importar data</li>
  </ol>
</div>
<div class="main-content container-fluid" ng-init="vm.optionSelect()">
  <ng-form name="databankform">
      
        <div class="col-sm-6" style="padding-left: 0">
          
                <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loadings}">
                  <div class="panel-heading" ng-show="vm.showImportDataBank">
                    <span class="title">Importar Data</span>
                  </div>
                  <div class="panel-heading" ng-show="vm.showLockUnLockTrans">
                    <span class="title">Bloq / Desbloq. Deposito</span>
                  </div>
                  <div class="panel-body" style="padding: 0px 20px">
                    <div class="row">
                      <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                          <label for="bankselect">Banco:</label>
                        
                          <ui-select ng-model="vm.form.bankselect" ng-disabled="vm.loading_banks == true" style="padding:0; width: 100%">
                            <ui-select-match placeholder="Seleccione el Banco">
                                <span ng-bind="$select.selected.banks.name"></span>
                            </ui-select-match>
                            <ui-select-choices refresh-delay="0" repeat="bank in ( vm.listBanks | filter: $select.search) track by bank.id">
                                <span ng-bind="bank.banks.name"></span><br>
                                
                            </ui-select-choices>
                        </ui-select>
                        </div>
                      </div>

                      <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                          <label for="operationtype">Tipo de operación:</label>
                            <ol class="nya-bs-select" size="2" title="No seleccionado" ng-disabled="!vm.form.bankselect" style="padding:0; width: 100%"
                                ng-model="vm.form.operationselect"
                                required>
                                <li nya-bs-option="bank in vm.paneldata.typetransactions">
                                    <a>
                                        {{bank.name}}
                                    </a>
                                </li>
                            </ol>
                        </div>
                      </div>
                      <div  ng-if="vm.form.operationselect.id === 2" class="form-group" style="margin-bottom: 10px">
                        <label>Referencia</label>
                        <input  ng-model="vm.form.reference"  ng-disabled="!vm.form.bankselect" placeholder="0000000" class="form-control">
                        <label>Monto</label>
                        <input  min="0" ng-model="vm.form.amount"  ng-disabled="!vm.form.reference" placeholder="0000000" class="form-control">
                        <label>Fecha </label>
                        <input type="text"
                                uib-datepicker-popup="dd/MM/yyyy"
                                datepicker-options="vm.dateOption1"
                                is-open="vm.today.opened"
                                clear-text="Limpiar"
                                current-text="Hoy"
                                close-text="Cerrar"
                                ng-model="vm.form.transaction_date"
                                ng-click="vm.calendarOpen(vm.form.transaction_date)",
                                required placeholder="DD/MM/YYYY" class="form-control" ng-disabled="!vm.form.amount">
                      </div>
                      <div  ng-if="vm.form.operationselect.id === 1">
                      <div class="clearfix" ng-show="vm.showImportDataBank"></div> <br ng-show="vm.showImportDataBank">
                      <div class="col-md-12 col-xs-12 be-loading" ng-class="{'be-loading-active': vm.loading_register}" ng-show="vm.showImportDataBank">
                        <div class="dropzone" options="vm.dzOptions" callbacks="vm.dzCallbacks" 
                          methods="vm.dzMethods" ng-dropzone>
                        </div>
                        <spinner></spinner>
                      </div>

                      <div class="clearfix" ng-show="vm.showImportDataBank"></div> <br ng-show="vm.showImportDataBank">
                      </div>
                      <div class="col-md-12 col-xs-12" ng-show="vm.showImportDataBank">
                        <div  ng-if="vm.form.operationselect.id === 1">
                        <button class="btn btn-space btn-primary btn-lg pull-right" ng-disabled="!vm.form.bankselect" ng-click="vm.dzMethods.processQueue();">
                          <i class="icon mdi mdi-cloud-upload"></i> Procesar data
                        </button>
                        </div>
                        <button class="btn btn-space btn-warning btn-lg pull-right" ng-click="vm.clearInputs();">
                          Limpiar
                        </button>
                        <div  ng-if="vm.form.operationselect.id === 2">
                          <button class="btn btn-lg btn-danger"
                            ng-click="vm.lockUnLocked(vm.form)" ng-disabled="!vm.form.transaction_date">
                            Bloquear
                          </button>
                          <button class="btn btn-lg btn-success"  ng-click="vm.UnLocked(vm.form)" ng-disabled="!vm.form.transaction_date">
                            Desbloquear
                          </button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                
        </div>
            
      
    <div class="col-sm-6" style="padding-left: 0">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Detalle de la transacción</h4>
          <hr>
        </div>
        <div class="panel-body">
          <table datatable="ng" class="table table-hover" id="table">
            <thead>
            <tr >
              <th style="width:20%;">Fecha</th>
              <th style="width:20%;">Referencia</th>
              <th style="width:20%;">Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transaction in vm.resultransactions">
              <td style="cursor: pointer;text-align: center">
                <strong>{{ transaction.transaction_date }}</strong>
              </td>
              <td>{{ transaction.reference }}</td>
              <td>{{ transaction.amount | number:2 }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
          </div>


  </ng-form>
</div>