<div class="main-content container-fluid">
  <div class="splash-container">
    <div class="panel panel-default panel-border-color panel-border-color-dark">
      <div class="card-header card-header-rose text-center">
          <div class="panel-heading">
              <img src="assets/img/verificapagos7.png" alt="logo" class="logo-img">
            </div>
        <h4 class="card-title">Login</h4>
        <div class="social-line">
        </div>
      </div>
      <div class="panel-body">
        <form ng-submit="vm.checkAccess()" name="login_form">
          <div class="form-group">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">email</i>
                  </span>
            </div>
            <input id="username" type="text" placeholder="Email..." autocomplete="off" class="form-control" ng-model="vm.form.user" required>
          </div>
          <div class="form-group">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                   <i class="material-icons">lock_outline</i>
                  </span>
            </div>
            <input id="password" type="password" placeholder="Contraseña" class="form-control" ng-model="vm.form.pass" required>
          </div>
      
          <div class="form-group login-submit">
            <button data-dismiss="modal" ng-disabled="login_form.$invalid" type="submit" class="btn btn-primary btn-xl">Iniciar sesión</button>
          </div>
        </form>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright float-center">
          © 2019, Hecho con <i class="material-icons">favorite</i> por
          <a target="_blank" href="http://expertosdelaweb.net" >Expertos de la Web</a>.
        </div>
      </div>
    </footer>
  </div>
</div>