<div class="page-head">
  <h2 class="page-head-title">Detalles del usuario</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a ui-sref="app.home">Inicio</a></li>
    <li><a href="#">Seguridad</a></li>
    <li><a ui-sref="app.users">Usuarios</a></li>
    <li class="active">{{ vm.user.profile.full_name }}</li>
  </ol>
</div>
<div class="main-content container-fluid be-loading" ng-class="{'be-loading-active': vm.loading_details}">
  <div class="user-profile">
    <div class="row">
      <div style="padding-left: 0">
        <div class="user-display">
          <div class="user-display-bg"></div>
          <div class="user-display-bottom">
            <div class="user-display-avatar"></div>
            <div class="user-display-info">
              <div class="name">{{ vm.user.profile.full_name }}</div>
              <div class="nick"><span class="mdi mdi-email"></span> {{ vm.user.email }}</div>
            </div>
            <div class="row user-display-details"></div>
          </div>
        </div>
        <div class="user-info-list panel panel-default">
          <div class="panel-heading panel-heading-divider">Biografía<span class="panel-subtitle"></span></div>
          <div class="panel-body">

                    <form  ng-submit="vm.save()">
                      <table class="no-border no-strip skills">
                        <tbody class="no-border-x no-border-y">
                        <tr>
                          <td class="icon"><span class="mdi mdi-pin-assistant"></span></td>
                          <td class="item">Tipo de usuario<span class="icon s7-gift"></span></td>
                          <td>
                            <div class="btn-group btn-hspace">
                              <button type="button" ng-disabled="vm.loading_roles" data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{ vm.user.role.name }} <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                              <ul role="menu" class="dropdown-menu">
                                <li ng-repeat="role in vm.listRoles">
                                  <a href="#" ng-click="vm.changeUserRole(role)">{{ role.name }}</a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>

                        </tbody>
                      </table>
                      <div class="form-group" style="margin-bottom: 10px">

                            <label >Nombres</label>
                            <input type="text" ng-model="vm.form.profile.name" required placeholder="Zuleima" class="form-control input-sm">
                      </div>
                      <div class="form-group" style="margin-bottom: 10px">
                            <label>Apellidos</label>
                            <input type="text" ng-model="vm.form.profile.lastname" required placeholder="Gutierrez" class="form-control input-sm">

                        </div>


                      <div class="form-group" style="margin-bottom: 10px">
                            <label>Cedula</label>
                            <input type="text" ng-model="vm.form.profile.ci" required placeholder="1234567" class="form-control input-sm">
                          </div>


                      <div class="form-group" style="margin-bottom: 10px">
                        <label>Sexo</label>
                            <div class="be-radio-icon inline">
                              <input type="radio" value="1" name="rad1" id="rad1"
                                     ng-model="vm.form.profile.gender"
                                     ng-checked="vm.form.profile.gender === 1">
                              <label for="rad1"><span class="mdi mdi-female"></span></label>
                            </div>
                            <div class="be-radio-icon inline">
                              <input type="radio" value="0" name="rad1" id="rad2"
                                     ng-model="vm.form.profile.gender"
                                     ng-checked="vm.form.profile.gender === 0">
                              <label for="rad2"><span class="mdi mdi-male-alt"></span></label>
                            </div>
                      </div>

                      <div class="form-group" style="margin-bottom: 10px">
                        <label>Correo electronico</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class=" icon mdi mdi-email"></i>  </span>
                          <input type="email" required placeholder="correo@gmail.com" class="form-control input-sm"
                                 ng-model="vm.form.email">
                        </div>
                      </div>
                      <div class="form-group" style="margin-bottom: 10px">
                        <label>Contraseña</label>
                        <div class="input-group">
                          <span class="input-group-addon"><i class=" icon mdi mdi-lock"></i> </span>
                        <input type="password" ng-model="vm.form.passwords"  placeholder="*******" class="form-control input-sm">
                        </div>
                      </div>
                      <div class="col-xs-12 text-center" style="margin: 30px auto 30px">

                        <button type="submit" class="btn btn-space btn-primary btn-big"
                                ng-disabled="vm.selectedManager === false">
                          <i class="icon mdi mdi-edit"></i> Modificar
                        </button>

                      </div>
                    </form>



          </div>
        </div>
      </div>
    </div>
  </div>
  <spinner></spinner>
</div>

<div ng-include src="'app/modules/security/users/modals/add/adding.html'"></div>