<script type="text/ng-template" id="addingRoleModal">
  <div id="modal_form" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
    <div class="modal-dialog custom-width">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
          <h3 class="modal-title">
            <span ng-show="vm.updating === true">Modificar</span>
            <span ng-hide="vm.updating === true">Añadir</span>
            rol de usuario</h3>
        </div>
        <div class="modal-body">
          <form name="form_modal">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" ng-model="vm.form.name" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Descripción del rol</label>
              <textarea class="form-control" ng-model="vm.form.description" rows="3"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
          <button type="button" ng-disabled="form_modal.$invalid || form_modal.$pristine" ng-click="vm.save()" class="btn btn-primary md-close">
            <span ng-show="vm.updating === true">Modificar rol</span>
            <span ng-hide="vm.updating === true">Agregar rol</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</script>
