<div class="page-head">
    <h2 class="page-head-title">Carga Previa</h2>
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li class="active">Carga Previa</li>
    </ol>
</div>
<div class="main-content container-fluid">
    <div class="col-sm-12" style="padding-left: 0">
        <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
            <div class="panel-heading"></div>
            <div class="panel-body" style="padding: 0px 20px">
                <form name="form_report" ng-submit="vm.savePreload(vm.form)">
                    <div class="form-group" style="margin-bottom: 10px">
                        <div class="row">


                            <div class="col-sm-12">
                                <div class="form-group" style="margin-bottom: 10px">
                                <label>Referencia</label>
                                    <input type="text" class="form-control" ng-model="vm.form.reference"    placeholder="Referencia de pago">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label for="bankselect">Banco:</label>
                                    
                                    <ui-select ng-model="vm.form.bankselect" ng-disabled="((((vm.loading_banks == true) || vm.form.reference)) ? false : true)" style="padding:0; width: 100%">
                                        <ui-select-match placeholder="Seleccione el Banco">
                                            <span ng-bind="$select.selected.banks.name"></span>
                                        </ui-select-match>
                                        <ui-select-choices refresh-delay="0" repeat="bank in ( vm.listBanks | filter: $select.search) track by bank.id">
                                            <span ng-bind="bank.banks.name"></span><br>
                                            
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label>Fecha</label>
                                    <input type="text" clear-text="Limpiar" current-text="Hoy" ng-click="vm.calendarOpen(vm.form.cuota2)" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.form.cuota2.date" datepicker-options="vm.dateOption2" is-open="vm.form.cuota2.opened" close-text="Cerrar" placeholder="DD/MM/YYYY" ng-change="vm.changeMinDate(vm.dateOption1, vm.form.cuota2.date)"  class="form-control" ng-disabled="!vm.form.bankselect">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="margin-bottom: 10px">
                                <label>Monto</label>
                                <input type="text" ng-model="vm.form.amount" ng-disabled="!vm.form.cuota2.date"  placeholder="Cantidad a abonar" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group" style="margin-bottom: 10px">
                                    <label>Descripcion</label>
                                    <textarea type="text" ng-model="vm.form.description" ng-disabled="!vm.form.amount"  class="form-control"> </textarea>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 text-center" style="margin: 30px auto 30px">
                            <button type="button" class="btn btn-space btn-primary btn-big" ng-click="vm.getClear()" ng-disabled="!vm.form.reference">
                                <i class="icon icon-left mdi mdi-rotate-left" style="color: #fff !important"></i>Limpiar
                                </button>
                                          <button type="submit" class="btn btn-space btn-primary btn-big" ng-disabled="(vm.form.amount || vm.form.description) ? false : true">
                                              <i class="icon icon-left mdi mdi-archive" style="color: #fff !important"></i>Incluir
                                </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="padding-left: 0">
        <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active':vm.loading_register}" style="    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);">
            <div class="panel panel-default be-loading" ng-class="{'be-loading-active': vm.loading_users}">
                <div class="panel-heading">
                    <div class="col-sm-12">
                        Cargas realizadas
                        <div class="tools"><span class="icon mdi mdi-download"></span><span class="icon mdi mdi-more-vert"></span></div>
                        <div class="row" style="margin: 0px !important">
    
                            <button class="btn btn-space btn-primary"  ng-click="vm.checkPreload()"  style="padding: 2px 15px !important; text-align: center;">
                                <i class="icon icon-left mdi mdi-archive" style="color: #fff !important"></i></i> Verificar Pagos
                            </button>
                            <button class="btn btn-space btn-primary" ng-click="vm.deletePreload()"  style="padding: 2px 15px !important; text-align: center;">
                                <i class="icon icon-left mdi mdi-delete" style="color: #fff !important"></i></i> Eliminar
                            </button>
    
                        </div>
    
                    </div>
    
                </div>
                <div class="panel-body">
                  <table class="table table-striped table-hover" id="dt_manager" width="100%">
                    <thead>
                    <tr>
                        
                        <th style="width:10%;">Referencia</th>
                        <th style="width:10%;">Banco</th>
                        <th class="number">Fecha del voucher</th>
                        <th class="number">Monto</th>
                        <th class="number">Descripción</th>
                        <th style="width:15%;"></th>

                    </tr>
                    </thead>
                  </table>
                  <spinner></spinner>
                </div>
              </div>
        </div>
        </div>
       
</div>
<div ng-include src="'app/modules/preload/report/list/list.html'"></div>