<div class="page-head">
  <h2 class="page-head-title">Búsqueda Avanzada</h2>
  <ol class="breadcrumb page-head-nav">
    <li><a href="#">Inicio</a>
    </li>
    <li class="active">Búsqueda Avanzada</li>
  </ol>
</div>
<div class="main-content container-fluid">

  <div class="col-sm-6" style="padding-left: 0">
    <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
      <div class="panel-heading">Búsqueda Avanzada</div>
      <div class="panel-body" style="padding: 0px 20px">
        <form name="form_companybank">

          <div class="form-group" style="margin-bottom: 10px">
            <div class="col-md-12 col-xs-12">
            <div class="form-group">
              <label for="bankselect">Banco Receptor:</label>
              
              <ui-select ng-model="vm.form.bankselect" ng-disabled="vm.loading_banks == true" style="padding:0; width: 100%">
                <ui-select-match placeholder="Seleccione el Banco">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices refresh-delay="0" repeat="bank in ( vm.listBanks | filter: $select.search) track by bank.id">
                    <span ng-bind="bank.name"></span><br>
                    
                </ui-select-choices>
            </ui-select>
            </div>
          </div>
            <div class="form-group" style="margin-bottom: 10px">
            <div class="col-md-12 col-xs-12">
              <div class="form-group">
                <label for="companyselect">Empresa:</label>
                <div class="clearfix"></div>
                <ui-select ng-model="vm.form.companyselect" ng-disabled="vm.loading_company == true" style="padding:0; width: 100%">
                  <ui-select-match placeholder="Seleccione la Empresa">
                      <span ng-bind="$select.selected.name"></span>
                  </ui-select-match>
                  <ui-select-choices refresh-delay="0" repeat="company in ( vm.listCompany | filter: $select.search) track by company.id">
                      <span ng-bind="company.name"></span><br>
                      
                  </ui-select-choices>
              </ui-select>
              </div>
            </div>
            </div>
            <div class="form-group" style="margin-bottom: 10px">
            <div class="col-md-12 col-xs-12">
            </div>
              <div class="form-group" style="margin-bottom: 10px">
                <label>Búsqueda:</label>
                <input type="text" class="form-control input-sm" required
                       ng-model="vm.form.elements">
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 text-center" style="margin: 30px auto 30px">
            <button type="button" class="btn btn-space btn-primary btn-big"
            ng-click="vm.clearInputs(form_companybank)"  ng-disabled="form_companybank.$pristine">
              <i class="icon mdi mdi-rotate-left"></i> Limpiar
            </button>
            <button type="button" ng-click="vm.search(vm.form)" ng-disabled="form_companybank.$pristine"class="btn btn-space btn-primary btn-big"
            >
              <i class="icon mdi mdi-search"></i> Buscar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6" style="padding-left: 0">
      <div class="panel panel-default be-loading" ng-class="{'be-loading-active':vm.loading}">
        <div class="panel-heading">Transacciones</div>
        <div class="panel-body">
          <table class="table table-striped table-hover" id="dt_manager" width="100%">
            <thead>
            <tr>
              <th style="width:65%;">ID</th>
              <th style="width:10%;">Fecha</th>
              <th style="width:10%;">Referencia</th>
              <th style="width:10%;">Monto</th>
              <th style="width:65%;">Descripción</th>
            </tr>
            </thead>
          </table>
          <spinner></spinner>
        </div>
      </div>
    </div>


</div>