<script type="text/ng-template" id="addingUserModal">
    <div id="modal_form" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
      <div class="modal-dialog custom-width">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
              <h3 class="modal-title">Añadir usuario</h3>
          </div>
          <div class="modal-body">
            <form name="modal_form">
              <div class="form-group">
                <label>Correo electronico</label>
                <input type="email" ng-model="vm.form.email" required placeholder="correo@gmail.com" class="form-control">
              </div>
              <div class="form-group" style="margin-bottom: 10px">
                <label>Cedula</label>
                <input type="text" ng-model="vm.form.ci" required placeholder="1234567" class="form-control input-sm">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <label>Nombres</label>
                    <input type="text" ng-model="vm.form.nombres" required placeholder="Maria" class="form-control">
                  </div>
                  <div class="col-xs-6">
                    <label>Apellidos</label>
                    <input type="text" ng-model="vm.form.apellidos" required placeholder="Pérez" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-bottom: 10px">
                <label>Sexo</label>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="be-radio-icon inline">
                      <input type="radio" value="1" name="rad1" id="rad1"
                             ng-model="vm.form.sexo">
                      <label for="rad1"><span class="mdi mdi-female"></span></label>
                    </div>
                    <div class="be-radio-icon inline">
                      <input type="radio" value="0" name="rad1" id="rad2"
                             ng-model="vm.form.sexo">
                      <label for="rad2"><span class="mdi mdi-male-alt"></span></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="margin-bottom: 5px;">
                <label>Rol</label>
                <div class="clearfix"></div>
                <ol class="nya-bs-select input-lg" size="2" ng-disabled="vm.loading_roles" required title="No seleccionado" style="padding:0" ng-model="vm.form.role">
                  <li nya-bs-option="option in vm.listRoles">
                    <a>
                    {{option.name}}
                    </a>
                  </li>
                </ol>
              </div>
              <div class="form-group">
                <label>Contraseña</label>
                <input type="password" ng-model="vm.form.password" required placeholder="*******" class="form-control">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
            <button type="button" ng-click="vm.createUser()" ng-disabled="modal_form.$invalid" class="btn btn-primary md-close">Agregar usuario</button>
          </div>
        </div>
      </div>
    </div>
</script>
