<div class="page-head">
    <ol class="breadcrumb page-head-nav">
        <li><a href="#">Inicio</a></li>
        <li class="active">Empresa</li>
    </ol>
</div>
<div class="main-content container-fluid">
    <div style="padding-left: 0">
        <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading}">
            <div class="panel-heading">Empresa</div>
            <div class="panel-body" style="padding: 0px 20px">
                <form name="form_company"  novalidate>
                    <div class="form-group" style="margin-bottom: 10px">
                        <div class="row">
                            <div class="col-xs-6">
                                <label>Nombre de la empresa</label>
                                <input type="text" ng-model="vm.form.name" required placeholder="TST" class="form-control input-sm">
                            </div>
                            <div class="col-xs-6">
                                <label>Correo electronico del usuario</label>
                                <input style="height:37px;" type="email" ng-model="vm.form.user.email" ng-disabled="!vm.form.name" required placeholder="correo@gmail.com" class="form-control">
                                
                              </div>
                              
                              <div class="col-xs-6">
                                <label>Cedula del usuario</label>
                                <input type="text" ng-model="vm.form.user.profile.ci"  required placeholder="1234567" class="form-control input-sm">
                              </div>
                              <div class="col-xs-6">
                                <label>Nombre del usuario</label>
                                <input type="text" ng-model="vm.form.user.profile.name"  ng-disabled="!vm.form.user.profile.ci" required placeholder="Fernando" class="form-control input-sm">
                              </div>
                              <div class="col-xs-6">
                                <label>Apellido del usuario</label>
                                <input type="text" ng-model="vm.form.user.profile.lastname" ng-disabled="!vm.form.user.profile.name" required placeholder="Gutierrez" class="form-control input-sm">
                              </div>
                  
                
                              <div class="col-xs-6">
                                <label>Contraseña</label>
                                <input style="height:37px;" type="text"ng-model="vm.form.password" ng-disabled="vm.selected === false" required placeholder="*******" class="form-control">
                              </div>
                           
                    <div class="col-xs-12 text-center" style="margin: 30px auto 30px">
                        <button type="button" class="btn btn-space btn-primary btn-big"
                        ng-click="vm.clearUser()" ng-disabled="form_company.$pristine">
                        <i class="icon mdi mdi-rotate-left"></i> Limpiar
                        </button>
                        <button type="button" ng-click="vm.save(vm.form)"  ng-disabled="!vm.form.user.profile.lastname" class="btn btn-space btn-primary btn-big"
                                >
                            <i class="icon mdi mdi-archive"></i> Incluir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active': vm.loading_company}" style="    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);">

        <div class="panel-heading">
            

        </div>
        <div class="panel-body">
            <table datatable="ng" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th style="width:5%;">codigo</th>
                    <th style="width:5%;">Nombre de la empresa</th>
                    <th  style="width:5%;">Activadas</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="exc in  vm.listCompany">


                    <td ng-click="vm.selectCompany(exc)"style=" cursor:pointer; text-align: center;">
                        {{ exc.id }}
                    </td>
                    <td ng-click="vm.selectCompany(exc)"style=" cursor:pointer; text-align: center;">
                        {{ exc.name  }}
                    </td>
                    <td style=" cursor:pointer;"><div class="switch-button switch-button-xs">
                        <input type="checkbox" id="swt1{{ exc.id }}"
                          ng-checked="exc.status"
                          ng-click="vm.status(exc)" 
                          name="{{ exc.id }}"><span>
                          <label for="swt1{{ exc.id }}"></label></span>
                      </div></td>

                </tr>

                </tbody>

            </table>

        </div>
        <spinner></spinner>
    </div>


</div>