<script type="text/ng-template" id="findlist">
  <div id="modal_form" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
    <div class="modal-dialog custom-width">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
          <h3 class="modal-title">Listado</h3>
        </div>
        <div class="modal-body">
          <form name="modal_form">
            <div class="col-sm-12" style="padding-left: 0">
              <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active':vm.loading_register}" style="    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);">

                <div class="panel-heading">
                  Listado de no aprobados
                  <div class="col-sm-12">
                    <div class="row" style="margin: 0px !important">


                      <button class="btn btn-space btn-primary" ng-disabled="vm.listNP.length < 1 || !vm.listNP" ng-click="vm.printPdfnp(vm.listNP)"  style="padding: 2px 15px !important; text-align: center;">
                        <i class="icon icon-left mdi mdi-print" style="color: #fff !important"></i></i> Imprimir
                      </button>

                    </div>

                  </div>

                </div>
                <div class="panel-body">
                  <table datatable="ng" class="table table-striped table-hover">
                    <thead>
                    <tr>
                      <th style=" text-align: center;">Referencia</th>
                      <th style=" text-align: center;">Banco</th>
                      <th style="text-align: center;">Fecha</th>
                      <th style=" text-align: center;">Monto</th>
                      <th style=" text-align: center;" class="number">Descripción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="excs in vm.listNP track by $index">
                      <td style=" cursor:pointer; text-align: center;">
                         {{ excs.reference}}
                      </td>
                      <td style=" cursor:pointer; text-align: center;">
                        {{ excs.bank  }}
                      </td>
                      <td style=" cursor:pointer; text-align: center;">
                        {{ excs.voucher_date }}
                      </td>
                      <td style=" cursor:pointer; text-align: center;">
                        {{ excs.amount  }}
                      </td>
                      <td style=" cursor:pointer; text-align: center;">
                        {{ excs.description  }}
                      </td>
                    </tr>

                    </tbody>
                  </table>

                </div>
                <spinner></spinner>
              </div>
            </div>
            <div class="col-sm-12" style="padding-left: 0">
              <div class="panel panel-default panel-table be-loading" ng-class="{'be-loading-active':vm.loading_register}" style="    box-shadow: 0 0 4px 0 rgba(0,0,0,0.21);">

                <div class="panel-heading">
                  Listado de aprobados
                  <div class="col-sm-12">
                    <div class="row" style="margin: 0px !important">
                      <button class="btn btn-space btn-primary" ng-disabled="vm.listAP.length < 1 || !vm.listAP" ng-click="vm.printPdfap(vm.listAP)"  style="padding: 2px 15px !important; text-align: center;">
                        <i class="icon icon-left mdi mdi-print" style="color: #fff !important"></i></i> Imprimir
                      </button>

                    </div>

                  </div>

                </div>
                <div class="panel-body">
                  <table datatable="ng" class="table table-striped table-hover">
                    <thead>
                    <tr>
                      <th style=" text-align: center;">Referencia</th>
                      <th style=" text-align: center;">Banco</th>
                      <th style="text-align: center;">Fecha</th>
                      <th style=" text-align: center;">Monto</th>
                      <th style=" text-align: center;" class="number">Descripción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="exc in vm.listAP track by $index">
                      <td style=" cursor:pointer; text-align: center;">
                        {{ exc.reference}}
                      </td>
                      <td style=" cursor:pointer; text-align: center;">
                        {{ exc.bank  }}
                      </td>
                      <td style=" cursor:pointer; text-align: center;">
                        {{ exc.voucher_date }}
                      </td>
                      <td style=" cursor:pointer; text-align: center;">
                        {{ exc.amount  }}
                      </td>
                      <td style=" cursor:pointer; text-align: center;">
                        {{ exc.description  }}
                      </td>
                    </tr>

                    </tbody>
                  </table>

                </div>
                <spinner></spinner>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">

          <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</script>
