<script type="text/ng-template" id="DNIPayModal">
  <div id="modal_form" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary in">
    <div class="modal-dialog custom-width">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><span class="mdi mdi-close"></span></button>
          <h3 class="modal-title">Verificar Pagos</h3>
        </div>
        <div class="modal-body">
          <form name="modal_form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" style="margin-bottom: 10px">
                  <label>Fecha</label>
                  <div class="clearfix"></div>
                   <input type="text" uib-datepicker-popup="dd/MM/yyyy"
                   datepicker-options="vm.dateOption1"
                   is-open="vm.today.opened"
                   clear-text="Limpiar"
                   current-text="Hoy"
                   close-text="Cerrar"
                   ng-model="vm.form.transaction_date"
                   ng-click="vm.calendarOpen(vm.form.transaction_date)",
                   required placeholder="DD/MM/YYYY" class="form-control" >
   </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group" style="margin-bottom: 10px">
                  <label>Monto</label>
                  <div class="clearfix"></div>
                 <input type="text" min="0" ng-model="vm.form.amount" placeholder="Ingresa monto" class="form-control">
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
             <div><p> &nbsp; &nbsp;  &nbsp; &nbsp;  <br/>&nbsp; &nbsp; &nbsp;  &nbsp;<br/> &nbsp;  &nbsp; &nbsp; &nbsp; <br/> &nbsp; &nbsp;  &nbsp; &nbsp; <br/>&nbsp;  &nbsp; &nbsp;  &nbsp; <br/>&nbsp; &nbsp;  &nbsp; &nbsp;  <br/>&nbsp; &nbsp; &nbsp;  &nbsp; <br/>&nbsp;  &nbsp; &nbsp; &nbsp; <br/> &nbsp; &nbsp;  &nbsp;</p></div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="vm.selectInvoice(vm.form)" class="btn btn-primary md-close">Incluir</button>
          <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</script>
